<div class="">
    <div class="">
      <h3>
        更新が完了しました。
      </h3>
      <a class="" href="/">現行一覧へ戻る</a>
      <div>
<!--      <h3>
      <b>※納品済みの場合は以下の「詳細」ボタンから詳細ページにに戻り、該当データを確認してから削除してください</b><br>
      <%= link_to "詳細", "/products/#{@product.id}", method: :get %>
  </h3>
  -->
      </div>
    </div>
  </div>